

 <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Northwind Traders</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/home']"
         routerLinkActive="active" >Home</a>
        <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" >Admin</a>
        <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active" >Products</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav" 
     >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#" >
          <i class="fa fa-comment"></i>
        </a>
        <a class="nav-item nav-link" href="/" >
          <i class="fab fa-twitter"></i>
        </a>
        <a class="nav-item nav-link " 
        >
          <i class="fas fa-sign-out-alt"></i>            
        </a>
      </div>
    </div>
  </nav>



  